@using CampOut.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Campout!</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
  </head>
  <body>

    <h1>destinations</h1>

    @if (@Model.Count == 0)
    {
      <h3>No destinations have been added yet!</h3>
    } 

    
    @foreach (MyCampOut newCampOut in Model)
    {
      <h3><a href='/mycampout/@newCampOut.Id'>@newCampOut.Destination</a></h3>
    }

    <p><a href='/mycampout/new'>Add New Destination</a></p>
    <p><a href='/'>Back home</a></p>
  </body>
</html>

